<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>News</title>

		<link rel="stylesheet" href="../dist/css/style.min.css" />
		<script src="../dist/js/jquery.min.js"></script>
		<script src="../dist/js/vue.global.min.js"></script>
	</head>

	<body>

		<h1> TP4 JS </h1>

		<div>
			<a href="#" class='tab' data-target="#articlesSearchTab">Article & search</a>
			<a href="#" class='tab' data-target="#addArticleTab">Add article</a>
		</div>

		<div class="onglet" id="articlesSearchTab">
			<section id="news">
				<h2 id="titleNews"></h2>
				<article id="1">
					<h3 class="title">News 1</h3>
					<p>Ma super news 1</p>
					<button class="viewDetail">View detail</button>
				</article>

				<article id="2">
					<h3 class="title">News 2</h3>
					<p>Ma super news 2</p>
					<button>View detail</button>
				</article>

				<article id="3">
					<h3 class="title">News 3</h3>
					<p>Ma super news 3</p>
					<button>View detail</button>
				</article>
			</section>
		</div>

		<div class="onglet d-none" id="addArticleTab">
			<form id="addNewsForm">
				<fieldset>
					<label>Nom de la news :</label><br/>
					<input name="titleToAdd" type="text" /><br/>

					<label>Description de la news :</label><br/>
					<textarea name="descriptionToAdd"></textarea><br/>

					<input type="submit" name="addNewsBtn" />
				</fieldset>
			</form>
		</div>
	</body>
	<script src="../dist/js/app.min.js"></script>
</html>