<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>

		<h1> TP2 JS </h1>

		<section id="news">
			<article id="artnews1">
				<h3 class="title"> News 1</h3>
				<p>Description de l'article 1</p>
				<button class="articleButton artnews1">View detail</button>
			</article>

			<article id="artnews2">
				<h3 class="title">News 2</h3>
				<p>Description de l'article 2</p>
				<button class="articleButton artnews2">View detail</button>
			</article>

			<article id="artnews3">
				<h3 class="title">News 3</h3>
				<p>Description de l'article 3</p>
				<button class="articleButton artnews3">View detail</button>
			</article>
		</section>

		<form id="addNewsForm">
			Nom de la news : <input name="titleToAdd" type="text" />

			<input type="submit" name="addNewsBtn" />
		</form>
	</body>

	<script src="../src/js/article.js"></script>
	<script src="../src/js/const.js"></script>
	<script src="../src/js/log.js"></script>
	<script src="../src/js/html.js"></script>
	<script src="../src/js/main.js"></script>
</html>