<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<!-- Commentaire HTML -->
	<body>
		<!-- Chaque page doit avoir un H1 qui est le titre principal de la page -->
		<h1>Cours de JS 2020-2021</h1>

		<section id="news">
			<h2 id="titleNews">News</h2>
			<article>
				<h3 class="title">News 1</h3>
			</article>

			<article>
				<h3 class="title">News 2</h3>
			</article>

			<article>
				<h3 class="title">News 3</h3>
			</article>
		</section>

		<button id="btnClic" class="btn">Mon super bouton</button>

		<form id="addNewsForm">
			Nom de la news : <input id="input_text" name="titleToAdd" type="text"/>

			<input type="submit" name="addNewsBtn" />
		</form>
	</body>

	<!-- Le code JS doit se trouver après la clôture de la balise body. -->
	<script src="../public/couleur.js"></script>
	<script src="../public/log.js"></script>
	<script src="../public/main.js"></script> <!-- le main en dernier -->
</html>